<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcy.mapper.CartMapper">
    
    <resultMap id="BaseResultMap" type="com.hcy.pojo.Cart">
        <id property="cid" column="cid" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="cartItemPrice" column="cart_item_price" jdbcType="BIGINT"/>
        <result property="cartItemNum" column="cart_item_num" jdbcType="INTEGER"/>
        <result property="cartItemState" column="cart_item_state" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        cid
        ,uid,pid,
        cart_item_price,cart_item_num,cart_item_state
    </sql>
    
    <insert id="insertIntoCart">
        insert into t_cart (uid, pid, cart_item_price)
        values (#{uid}, #{pid}, #{cartItemPrice})
    </insert>
    
    <update id="updateCartItemNumByCid">
        update t_cart
        set cart_item_num = #{cartItemNum}
        where cid = #{cid}
          and cart_item_state = 0
    </update>
    
    
    <select id="selectByUidAndPid" resultType="com.hcy.pojo.Cart">
        select *
        from t_cart
        where uid = #{uid}
          and pid = #{pid}
          and cart_item_state = 0
    </select>
    
    <select id="selectCartVoByUid" resultType="com.hcy.pojo.vo.CartVo">
        select cid,
               uid,
               pid,
               t_cart.cart_item_price,
               t_cart.cart_item_num,
               t_product.title
        from t_cart
                 join t_product on t_cart.pid = t_product.id
        where uid = #{uid}
          and cart_item_state = 0
    </select>
    
    <select id="selectByCid" resultType="com.hcy.pojo.Cart">
        select *
        from t_cart
        where cid = #{cid}
          and cart_item_state = 0
    </select>
    
    <delete id="deleteByCid">
        delete
        from t_cart
        where cid = #{cid}
          and cart_item_state = 0
    </delete>
    
    <update id="updateCartItemStateByCid">
        update t_cart
        set cart_item_state = 1
        where cid = #{cid}
    </update>
</mapper>
